

* {
  box-sizing: border-box;
}

:root {
  --display-font: 'Roboto Slab', serif;
  --body-text: 'Open Sans', sans-serif;
  --main-bg-color: #ffddcc;
  --dk-coral: #d58256;
  --text-color: #6a6a6a;
  --lt-grey-bg: #e3e1e1;
  --nav-color:#6f9e79;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: var(--display-font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color);
  clear: both;
  padding: 5rem 0 15rem 0;
}
h2 {
  font-family: var(--display-font);
  font-size: 1.75em;
}
h3, h4 {
  font-family: var(--body-text);
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}
h4 {
  color: var(--text-color);
}
p {
  font-family: var(--body-text);
  color: var(--text-color);
  font-size: 1em;
  line-height: 150%;
}
/*----- HEADER _____*/
.hero {
  background-image: url("../images-icons/hero.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  /*max-width: 100%;*/
  background-repeat: no-repeat;
}

.hero-container {
  padding: 10% 10% 5% 10%;
}
.hero h1 {
  max-width: 70%;
  min-width: 50%;
}
header {
  font-size: 1rem;
}
.logotype {
  display: inline-block;
  font-family: var(--display-font);
  font-size: 1.5em;
  color: var(--nav-color);
  float: left;
}
/* on click, hide hamburger menu and reveal site menu. on mobile and tablet only*/

#burger {
  float: right;
  width: 15%;
  max-width: 64px;
  fill: #6f9e79;
  display: block;
}
#phoneNav {
  display: none;
}
#hamburger {
  display: block;
}

/*#hamburger:hover + nav, nav:hover {
  display: block;
}*/


nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: var(--nav-color);
}
nav a {
  color: black;
  text-decoration: none;
  font-family: var(--body-text);
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
nav a:hover {
  color: var(--text-color);
}

h1 span {
  color: black;
}
/* ----- ABOUT ------*/
.about {
  font-size: 1rem;
  padding: 7% 12%;
}
.about h2 {
  color: var(--dk-coral);
}
.about p {
  padding-top: 2em;
}
/* ----- SKILLS ------*/

.skills {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  font-size: 1rem;
}
.tidy-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  padding: 4rem 0rem;
}
.skills img {
  padding-bottom: 2rem;
}
.skilltalk {
  font-family: var(--display-font);
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1rem;
  min-width: 250px;
  max-width: 375px;
}
/* ----- CONTACT ------*/
.toggle-img {
  display: none;

}
.contact {
    position: relative;
    background: var(--lt-grey-bg);
    overflow: hidden;
    padding: 10% 10% 5% 10%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    font-size: 1rem;
}

.meet p {
  color: black;
  padding-top: 1rem;
  font-size: 1.35em;
}
.email {
  margin: 0 auto;
  padding: 10% 0;
}
.mail-img {
  background-image: url("../images-icons/icons copy/email.svg");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.email a{
  text-decoration: none;
  color: var(--dk-coral);
  margin: 0 auto;

}
.social {
  padding: 4rem 0;
  border-top: 7px solid var(--dk-coral);
  /*display: flex;
  justify-content: center;*/

}
.social-icons {
  height: 180px;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 850px;
  margin: 0 auto;

}
.scon {
  display: flex;
  width: 15%;
  max-width: 100px;
  height: 46%;
  background-repeat: no-repeat;
  background-position: center;
}
.twitter {
  background-image: url("../images-icons/icons copy/TwitterIcon.svg");
}
.tumbler {
  background-image: url("../images-icons/icons copy/TumblerIcon.svg");
}
.ig {
  background-image: url("../images-icons/icons copy/IGIcon.svg");
}
.linkedin {
  background-image: url("../images-icons/icons copy/LinkedInIcon.svg");
}
.git {
  background-image: url("../images-icons/icons copy/GitIcon.svg");
}
.social-icons img {
  padding: 1rem;
}

/* TABLET Media Query */
@media only screen and (min-width: 500px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.15rem;
  }


}
